.table-container{
    overflow-x: hidden;
} 

.lower-border{
    border-bottom: 1px solid grey;
}

.icons{
    opacity: 1;
}

h3{
    font-family: Verdana;
}

.red{
    background-color: red;
}

.key :first-child {
  font-weight: 700;
}

#key{
    text-decoration: underline;
}

.key{
    font-style: italic;
}

.active-component{
    color: #00D1F7;
}

.inactive-component{
    color: #fff;
}

.news-container{
    color: #000;
    font-weight: 600;
    font-size: 1.4rem;
    height: auto;
}

.gradient-background{
    background: linear-gradient(90deg, #0074D9aa, #2ECC40aa, #FFDC00aa, #FF4136aa), url(design\ bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#news-one-height{
    height: 40vh;
}

#news-two-height{
    height: 30vh;
}

#news-three-height{
    height: 20vh;
}

.pointer{
    cursor: pointer;
}

.player-profile{
    background: red;
    height: auto;
}

.height{
    height: 100%;
}

.profile-details{
    margin-top: -9px;
}