.table-container{
    overflow-x: hidden;
} 

.lower-border{
    border-bottom: 1px solid grey;
}

.icons{
    opacity: 1;
}

h3{
    font-family: Verdana;
}

.red{
    background-color: red;
}

.key :first-child {
  font-weight: 700;
}

#key{
    text-decoration: underline;
}

.key{
    font-style: italic;
}
